.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #999999 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 32px !important;
}

@media (max-width: 480px) {
  .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 16px !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: #ffba08 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffba08 !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  margin-right: 32px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  margin-left: 32px;
}
